<nav class="pc-sidebar">
  <div class="navbar-wrapper h-screen">
    <div class="m-header flex items-center py-4 px-6 h-header-height">
      <a href="../dashboard/index.html" class="b-brand flex items-center gap-3">
        <img src="../assets/images/logo-white.svg" class="img-fluid logo logo-lg" alt="logo" />
        <img src="../assets/images/favicon.svg" class="img-fluid logo logo-sm" alt="logo" />
      </a>
    </div>
    <div class="navbar-content h-[calc(100vh_-_80px)] py-2.5 overflow-y-auto">
      <ul class="pc-navbar">
        <li class="pc-item pc-caption">
          <label>NAVIGATION</label>
        </li>
        <li class="pc-item">
          <a href="../dashboard/index.html" class="pc-link">
            <span class="pc-micon">
              <i data-feather="home"></i>
            </span>
            <span class="pc-mtext">DASHBOARD</span>
          </a>
        </li>

        <li class="pc-item pc-caption">
          <label>ADMINISTRACIÓN Y FINANZAS</label>
          <i data-feather="settings"></i>
        </li>
        <li class="pc-item pc-hasmenu">
            <a href="#!" class="pc-link">
                <span class="pc-micon"><i data-feather="database"></i></span>
                <span class="pc-mtext">BASE DE DATOS</span>
                <span class="pc-arrow"><i class="ti ti-chevron-right"></i></span>
            </a>
            <ul class="pc-submenu">
                <li class="pc-item">
                    <a class="pc-link" href="#">USUARIOS</a>
                </li>
                <li class="pc-item">
                    <a class="pc-link" href="#">EMPRESAS</a>
                </li>
            </ul>
        </li>
        <li class="pc-item">
            <a href="#" class="pc-link"><span class="pc-micon"><i data-feather="book-open"></i></span><span class="pc-mtext">CONTABILIDAD</span></a>
        </li>
        <li class="pc-item pc-caption">
          <label>GESTIÓN OPERATIVA</label>
          <i data-feather="bar-chart-2"></i>
        </li>
        <li class="pc-item">
            <a href="#" class="pc-link"><span class="pc-micon"><i data-feather="bell"></i></span><span class="pc-mtext">NOVEDADES</span></a>
        </li>
        <li class="pc-item">
            <a href="#" class="pc-link"><span class="pc-micon"><i data-feather="file-text"></i></span><span class="pc-mtext">PLANILLAS</span></a>
        </li>
        <li class="pc-item">
            <a href="#" class="pc-link"><span class="pc-micon"><i data-feather="check-square"></i></span><span class="pc-mtext">DEPURACIONES</span></a>
        </li>
        <li class="pc-item">
            <a href="#" class="pc-link"><span class="pc-micon"><i data-feather="send"></i></span><span class="pc-mtext">ENVIAR PLANILLAS</span></a>
        </li>
        <li class="pc-item">
            <a href="#" class="pc-link"><span class="pc-micon"><i data-feather="dollar-sign"></i></span><span class="pc-mtext">PAGOS</span></a>
        </li>
        <li class="pc-item">
            <a href="#" class="pc-link"><span class="pc-micon"><i data-feather="umbrella"></i></span><span class="pc-mtext">INCAPACIDADES</span></a>
        </li>
        <li class="pc-item">
            <a href="#" class="pc-link"><span class="pc-micon"><i data-feather="gavel"></i></span><span class="pc-mtext">TUTELAS</span></a>
        </li>
        <li class="pc-item">
            <a href="#" class="pc-link"><span class="pc-micon"><i data-feather="file-minus"></i></span><span class="pc-mtext">PAGO DE IMPUESTOS</span></a>
        </li>
        <li class="pc-item pc-hasmenu">
            <a href="../forms/form-elements.html" class="pc-link">
            <span class="pc-micon"> <i data-feather="align-justify"></i></span>
            <span class="pc-mtext">FORMULARIOS</span>
          </a>
        </li>

        <li class="pc-item pc-caption">
          <label>DOCUMENTACIÓN Y SERVICIO</label>
          <i data-feather="file-text"></i>
        </li>
        <li class="pc-item">
            <a href="#" class="pc-link"><span class="pc-micon"><i data-feather="user"></i></span><span class="pc-mtext">INFORMACIÓN PARA CLIENTES</span></a>
        </li>
        <li class="pc-item">
            <a href="#" class="pc-link"><span class="pc-micon"><i data-feather="users"></i></span><span class="pc-mtext">INFORMACIÓN PARA EMPLEADOS</span></a>
        </li>
        <li class="pc-item">
            <a href="#" class="pc-link"><span class="pc-micon"><i data-feather="tag"></i></span><span class="pc-mtext">COTIZACIONES</span></a>
        </li>

        <li class="pc-item pc-caption">
          <label>GUÍAS Y ACCESO</label>
          <i data-feather="lock"></i>
        </li>
        <li class="pc-item">
            <a href="#" class="pc-link"><span class="pc-micon"><i data-feather="key"></i></span><span class="pc-mtext">USUARIOS Y CONTRASEÑA DE PLATAFORMA</span></a>
        </li>
        <li class="pc-item">
            <a href="#" class="pc-link"><span class="pc-micon"><i data-feather="plus-circle"></i></span><span class="pc-mtext">GUÍA CREACIÓN EMPRESA</span></a>
        </li>
        <li class="pc-item">
            <a href="#" class="pc-link"><span class="pc-micon"><i data-feather="x-circle"></i></span><span class="pc-mtext">GUÍA DE CERRAR EMPRESAS</span></a>
        </li>

        <li class="pc-item pc-caption">
          <label>OTHER</label>
          <i data-feather="sidebar"></i>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link"><span class="pc-micon"> <i data-feather="align-right"></i> </span><span
              class="pc-mtext">MENU LEVELS</span><span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>
          <ul class="pc-submenu">
            <li class="pc-item"><a class="pc-link" href="#!">LEVEL 2.1</a></li>
            <li class="pc-item pc-hasmenu">
              <a href="#!" class="pc-link">LEVEL 2.2<span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>
              <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href="#!">LEVEL 3.1</a></li>
                <li class="pc-item"><a class="pc-link" href="#!">LEVEL 3.2</a></li>
                <li class="pc-item pc-hasmenu">
                  <a href="#!" class="pc-link">LEVEL 3.3<span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>
                  <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="#!">LEVEL 4.1</a></li>
                    <li class="pc-item"><a class="pc-link" href="#!">LEVEL 4.2</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="pc-item pc-hasmenu">
              <a href="#!" class="pc-link">LEVEL 2.3<span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>
              <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href="#!">LEVEL 3.1</a></li>
                <li class="pc-item"><a class="pc-link" href="#!">LEVEL 3.2</a></li>
                <li class="pc-item pc-hasmenu">
                  <a href="#!" class="pc-link">LEVEL 3.3<span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>
                  <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="#!">LEVEL 4.1</a></li>
                    <li class="pc-item"><a class="pc-link" href="#!">LEVEL 4.2</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="pc-item">
          <a href="../other/sample-page.html" class="pc-link">
            <span class="pc-micon">
              <i data-feather="sidebar"></i>
            </span>
            <span class="pc-mtext">SAMPLE PAGE</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>