<script>
    // --- POLYFILLS PARA TEMA (Ejecutar ANTES de script.js) ---
    // Previene errores de ReferenceError cuando script.js intenta llamar estas funciones
    window.layout_change = window.layout_change || function() {};
    window.layout_theme_sidebar_change = window.layout_theme_sidebar_change || function() {};
    window.change_box_container = window.change_box_container || function() {};
    window.layout_caption_change = window.layout_caption_change || function() {};
    window.layout_rtl_change = window.layout_rtl_change || function() {};
    window.preset_change = window.preset_change || function() {};
    window.main_layout_change = window.main_layout_change || function() {};
</script>
